<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> Ryan's Website
</footer>
<section class="sources">
    <h1 class="sources_heading">Sources Used:</h1>

    <ul class="sources_ul">
        <li>
            <a href="https://www.youtube.com/@NetNinja">
                <span>YouTube Channel: Net Ninja</span>
            </a>
        </li>
        <li>
            <a href="https://www.w3schools.com/html/default.asp">
                <span>W3 Schools</span>
            </a>
        </li>
    </ul>
</section>