<header class="header">
    <a href="/" class="header_logo">BJJ App</a>
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>
            <li>
                <a href="/postHere" class="">Post</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Search for posts:
        </button>
    </div>
</header>