<div class="author">
    <h1 class="author_heading"> Hi, I'm Ryan</h1>
    <p class="author_body">BJJ practioner</p>
</div>

<img src="/public/img/Carlos-and-Helio-Gracie-Brazilian-Jiu-Jitsu-Grandmasters.jpg.webp">

<section class="article">
    <h2 class="article_heading">Latest Posts:</h2>
    <ul class="article_ul">
        <% data.forEach(post => { %>
         
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article_list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
</section>